.mat-button {
  background-color: #f16e00;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.side-bar button {
  padding: 30px;
  color: #555555;
  font-size: 16px;
}

.content {
  padding: 20px;
}
