/* src/app/applicant-list/applicant-list.component.css */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-raised-button {
  background-color: #f16e00;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

.mat-column-position {
  max-width: 100px;
}

.mat-column-name {
  max-width: 100px;
}


.list-container {
  margin: 20px;
}

.list-container th {
  background-color: #f16e00;
  color: black;
}

.mat-header-cell {
  background-color: #f16e00;
  color: white;
  font-weight: bold;
}

.mat-cell,
.mat-footer-cell,
.mat-header-cell {
  text-align: center;
}


.mat-row:hover {
  background-color: #f1f1f1;
}

.add-applicant-btn {
  margin-bottom: 20px;
  float: right;
  background-color: #f16e00;
  color: white;
}

table {
  width: 100%;
}

.mat-column-position {
  max-width: 100px;
}

.mat-column-name {
  max-width: 100px;
}
